include fardel/core/auth/templates/*
include fardel/core/panel/templates/*
include fardel/core/panel/templates/**/*
include fardel/core/panel/static/**/*
include fardel/core/panel/static/**/**/*
include fardel/core/panel/static/**/**/**/*