{% extends "panel_base.html" %}
{% import '_macros.html' as macros %}

{% block header_title %}{{gettext("Payments")}} | {{get_sitename()}}{% endblock %}
{% block title %}{{gettext("Payments")}}{% endblock %}

{% block content %}
<div class="row"> 
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{gettext("Payments")}}</h2>
        <ul class="nav navbar-left panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
        </p>
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <td>{{gettext("ID")}}</td>
                <td>{{gettext("Price")}}</td>
                <td>{{gettext("Status")}}</td>
                <td>{{gettext("First Name")}}</td>
                <td>{{gettext("Last Name")}}</td>                
                <td>{{gettext("User Email")}}</td>
                <td>{{gettext('Order Link')}}</td>
              </tr>
            </thead>
            <tbody>
              {% for payment in payments %}             
              <tr>
                <td>{{payment.id}}</td>
                <td>{{payment.amount}}</td>
                <td>{{payment.status}}</td>
                <td>{{payment.user.first_name}}</td>
                <td>{{payment.user.last_name}}</td>                
                <td>{{payment.user._email}}</td>
                <td>
                  <a class="btn btn-warning" href="{{url_for('ecommerce_panel.orders_info', order_id=payment.order.id)}}">{{gettext("Order Link")}}</a>                  
                </td>  
              </tr>
              <div class="modal confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title">{{gettext("Are you sure")}}</h4>
                    </div>
                    <div class="modal-body">
                      <h4>{{gettext("Are you sure you want to delete the payment?")}}</h4>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">{{gettext("Close")}}</button>
                      <a type="button" class="btn btn-danger btn-ok">{{gettext("Delete")}}</a>
                    </div>

                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="new_product" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{gettext("Product Type")}}</h4>
      </div>
      <div class="modal-body">
        <ul>
          {% for pt in products_types %}
          <li><a class="btn btn-info" href="{{url_for('ecommerce_panel.products_create', pt_id=pt.id)}}">{{pt.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{gettext("Close")}}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
$('.confirm-delete').on('show.bs.modal', function(e) {
  $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
</script>
{% endblock %}