{% extends "panel_base.html" %}

{% block header_title %}{{gettext("Order Info")}} | {{get_sitename()}}{% endblock %}
{% block title %}{{gettext("Order Info")}}{% endblock %}

{% block content %}

<div class="row"> 
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{gettext("Order Info")}}</h2>
        <ul class="nav navbar-left panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
          <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <td>{{gettext("ID")}}</td>
                <td>{{gettext("User Address")}}</td>
                <td>{{gettext("Is Shipping Required")}}</td>
                <td>{{gettext("Product Name")}}</td>
                <td>{{gettext("Quantity")}}</td>
                <td>{{gettext("Price")}}</td>
                <td>{{gettext("File")}}</td>
              </tr>
            </thead>
            <tbody>
              {% for line_order in order.lines %}             
              <tr>
                <td>{{line_order.id}}</td>
                <td>{{order.address.get_full_address()}}</td>                
                <td>{{line_order.is_shipping_required}}</td>
                <td>{{line_order.variant.product.name}} {{line_order.variant.generate_names}}</td>
                <td>{{line_order.quantity}}</td>
                <td>{{line_order.total}}</td>
                <td>
                {% if line_order.variant.is_file_required %}
                  <a href='{{line_order.data['file']}}'>{{gettext("file link")}}<a>
                {% endif %}
                </td>

              </tr>
              <div class="modal confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title">{{gettext("Are you sure")}}</h4>
                    </div>
                    <div class="modal-body">
                      <h4>{{gettext("Are you sure you want to delete the product variant?")}}</h4>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">{{gettext("Close")}}</button>
                      <a type="button" class="btn btn-danger btn-ok">{{gettext("Delete")}}</a>
                    </div>

                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_block %}
<script type="text/javascript">
$('.confirm-delete').on('show.bs.modal', function(e) {
  $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
});
</script>
{% endblock %}