{% extends "panel_base.html" %}
{% import '_macros.html' as macros %}

{% block header_title %}{{gettext("Products")}} | {{get_sitename()}}{% endblock %}
{% block title %}{{gettext("Products")}}{% endblock %}

{% block content %}
<div class="row"> 
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{gettext("Products")}}</h2>
        <ul class="nav navbar-left panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
        </p>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#new_product">{{gettext("Add Product")}}</button>
        <div class="table-responsive">
          <table class="table table-striped jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <td>{{gettext("ID")}}</td>
                <td>{{gettext("name")}}</td>
                <td>{{gettext("price")}}</td>
                <td>{{gettext("settings")}}</td>
              </tr>
            </thead>
            <tbody>
              {% for p in products %}             
              <tr>
                <td>{{p.id}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price}}</td>
                <td>
                  <a class="btn btn-danger" href="{{url_for('blog_panel.products_delete', cat_id=c.id)}}">{{gettext("Delete")}}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="new_product" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{gettext("Product Type")}}</h4>
      </div>
      <div class="modal-body">
        <ul>
          {% for pt in products_types %}
          <li><a class="btn btn-info" href="{{url_for('ecommerce_panel.products_create', pt_id=pt.id)}}">{{pt.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{gettext("Close")}}</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}